@charset "UTF-8";

@font-face {
    font-family: 'Habara';
    src: url('/testando/fontes/harabara.ttf');
}

:root {
    --cor01: rgba(255, 255, 0, 0.842);
    --cor02: rgba(36, 36, 133, 0.959);

    --font-family: 'Habara';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

header {
    display: flex;
    background-color: var(--cor01);
}

#div-header {
    display: inline-block;
    margin: 20px 15px;
}

#div-header-left > h1 {
    display: inline-block;
    font-family: var(--font-family);
    color: var(--cor02);
    line-height: 25px;
    margin: 20px 0px 0px -5px;
}

header nav {
    margin: 70px;
}

nav a {
    display: flex;
    text-decoration: none;
    font-size: .9em;
    padding: 5px;
}

.div-nav-menu1 {
    display: inline-flex;
}

.div-nav-menu2 {
    display: inline;
    padding: 75px;
}